.heading{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items:center;
    font-size: 30px;
    background-color: #d71335;
    opacity: 0.9;
    border-radius: 70px;
    color: #D3D3D3;
}


.button {
    background-color:#2980B9;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
}

.register
{
	padding: 20px;
}











*{
  box-sizing: border-box;
  padding:0;
  margin: 0;
}
body{
	background-color: rgba(236, 240, 241, 1);
	font-family: 'Rubik';
}
.ov-hid{
  overflow: hidden;
}
a{
  text-decoration: none !important;
}


.parent{
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
  height: 2000px;
}
.margin{
  margin-left: 2%;
  margin-top: 2%;
}
.rows{
  display: flex;
  flex-direction: row;
}
.cols{
  display: flex;
  flex-direction: column;
}
.input-group{
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.labels{
  font-size:12px;
  margin-bottom: 4px;
  font-weight: 50;
  color:rgba(68, 68, 68, 1);
}
.inputs{
  height:39px;
  width:324px;
  background-color:rgba(236, 240, 241, 1);
  border:1px solid #ccc;
  border-radius:3px;
  padding-left:10px;
  font-size:16px;
  color:rgba(68, 68, 68, 1);
}

.inputs:hover{
  border : 1px solid rgba(52, 152, 219, 1);
  box-shadow : 0px 0px 4px 0px rgba(52, 152, 219, 0.41);
  background-color:rgba(236, 240, 241, 1);
}
.inputs:focus{
  border : 1px solid rgba(52, 152, 219, 1);
  box-shadow : 0px 0px 4px 0px rgba(52, 152, 219, 0.41);
  background-color:rgba(236, 240, 241, 1);
}
.token{
  margin-left: 23px;
}
.soc{
  margin-bottom: 11px;
}
.gender-button{
  border :1px solid rgba(189, 195, 199, 1);
  border-radius :3px;
  background-image :-webkit-linear-gradient(-180deg, rgba(255, 255, 255, 1) 0%, rgba(236, 240, 241, 1) 100%);
  background-image :-moz-linear-gradient(-180deg, rgba(255, 255, 255, 1) 0%, rgba(236, 240, 241, 1) 100%);
  background-image :-o-linear-gradient(-180deg, rgba(255, 255, 255, 1) 0%, rgba(236, 240, 241, 1) 100%);
  background-image :linear-gradient(-180deg, rgba(255, 255, 255, 1) 0%, rgba(236, 240, 241, 1) 100%);
}
.please_fill{
  font-size: 12px;
  color:red;
  display: none;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  font-size: 14px;
  color: white;
  height :35px;
  width:105px;
  background-color:rgba(41, 128, 185, 1);
  border-radius:3px;
  box-shadow :0px 2px 4px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px 0px rgba(28, 103, 153, 1);
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.pub_save{
  align-items: center;
}
.next-button{
  height:42px;
  width:145px;
  background-color:rgba(22, 160, 133, 1);
  border-radius:3px;
  box-shadow:0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
}
.latersave-button{
  height:42px;
  width:145px;
  border:1px solid rgba(22, 160, 133, 1);
  border-radius:3px;
  text-shadow:0px 1px 0px rgba(255, 255, 255, 0.5);
  font-size:14px;
  color:rgba(22, 160, 133, 1);
  background-color: white;
  height:42px;width:145px;margin-left: 20px;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover{
  background-color: #45a049;
}